target/
ignite/
.idea/
*.iml
*.iws
*.ipr
.project
.classpath
.settings/
.metadata
.svn
.vscode/
.DS_Store
Thumbs.db
*.swp
*~
.checkstyle
.distribution
atlassian-ide-plugin.xml
.sonar-ide.properties
*.patch
release.properties
pom.xml.releaseBackup
